@using System.Text.Json

@inject ISnackbar Snackbar
@inject HttpClient ApiClient

<MudDialog Class="pa-5 ma-5">
    <TitleContent>
        <MudText Class="d-flex align-center">
            <MudIcon Class="mr-2" Icon="@Icons.Material.Filled.Edit" />
            <h2>Edit Machine</h2>
        </MudText>
    </TitleContent>
    <DialogActions>
        <MudForm Model="@FormModel" @ref="_form" @bind-IsValid="@success" @bind-Errors="@errors">
            <MudInputControl Class="pa-2 ma-2">
                <MudTextField @bind-Value="@FormModel!.Name" T="string" Label="Name" Required="true"
                    RequiredError="A Machine name is required!" />
                <MudSlider @bind-Value="@FormModel!.Wattage" Variant="Variant.Filled" T="double" Min="10" Max="1000">
                    Wattage (@FormModel!.Wattage) kWh
                </MudSlider>
                <MudNumericField @bind-Value="@FormModel!.Section" T="int" Label="Section" Min="1" Max="100" />
                <MudCheckBox @bind-Value="@FormModel!.Online" T="bool" Label="Online" />
            </MudInputControl>
            <MudInputControl Class="d-flex flex-row">
                <MudButton Class="mr-2" Variant="Variant.Filled" Color="@Color.Primary" OnClick="@SubmitForm">Save
                    Changes
                </MudButton>
                <MudButton Variant="Variant.Filled" Color="@Color.Default" OnClick="Cancel">Cancel
                </MudButton>
            </MudInputControl>
        </MudForm>
    </DialogActions>
    <DialogContent>
        @if (apiErrorResponse is not null)
        {
            <MudText class="mt-3" Color="@Color.Error">@apiErrorResponse.Message</MudText>
            @if (apiErrorResponse.Errors is not null)
            {
                @foreach (var property in apiErrorResponse.Errors)
                {
                    <MudText Color="@Color.Error">Property: @property.Key</MudText>
                    @foreach (var error in property.Value)
                    {
                        <MudText Color="@Color.Error">Error: @error</MudText>
                    }
                }
            }
            else
            {
                <MudText Color="@Color.Error">@apiErrorResponse.Message</MudText>
            }
        }
    </DialogContent>
</MudDialog>

@code
{

    private bool success;
    private APIErrorResponseModel? apiErrorResponse { get; set; }
    private string[] errors = { };
    private MudForm? _form;

    [CascadingParameter]
    MudDialogInstance? MudDialog { get; set; }

    [Parameter]
    public string? UpdateURI { get; set; }

    [Parameter]
    public MachineModel? FormModel { get; set; }

    [Parameter]
    public EventCallback FormClosed { get; set; }

    [Parameter]
    public EventCallback FormSubmitted { get; set; }

    private void Cancel() => MudDialog!.Cancel();

    private async Task SubmitForm()
    {
        await _form!.Validate();

        if (success)
        {
            var response = await ApiClient.PutAsJsonAsync(UpdateURI, FormModel);
            await SetAPIResponse(response);
        }
    }
    
    private async Task SetAPIResponse(HttpResponseMessage response)
    {
        if ((int)response.StatusCode == StatusCodes.Status400BadRequest)
        {
            apiErrorResponse = JsonSerializer.Deserialize<APIErrorResponseModel>(await response.Content.ReadAsStringAsync());
            Snackbar.Add($@"Unable to edit Machine ""{FormModel!.Name}"". Please try again", Severity.Error);
        }
        else if (response.IsSuccessStatusCode)
        {
            MudDialog!.Close(DialogResult.Ok(FormModel!.Id));
            Snackbar.Add($@"Machine ""{FormModel!.Name}"" successfully edited", Severity.Success);
        }
        else
        {
            apiErrorResponse = new()
                {
                    Message = "API not available; please try again later."
                };
            Snackbar.Add("Could not contact API", Severity.Error);
        }
    }
}