@inject HttpClient ApiClient
@inject IDialogService DialogService

<MudContainer Class="d-flex flex-column mb-5" MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudElement HtmlTag="div" Class="mb-5 d-flex align-center ">
        <MudIcon Class="mr-2" Icon="@Icons.Material.Filled.TableView" />
        <h2>Machines</h2>
    </MudElement>
    <MudPaper Elevation="25">
        <CascadingValue Value="@ServerDataMode">
            @if (ServerDataMode)
            {
                <MachineServerDataGrid DataModeChange="@OnDataModeChange" @ref="@_serverDataGrid" />
            }
            else
            {
                <MachineClientDataGrid DataModeChange="@OnDataModeChange" @ref="@_clientDataGrid" />
            }
        </CascadingValue>
    </MudPaper>
</MudContainer>

@code
{

    private MudDataGrid<MachineModel>? _dataGrid { get; set; }
    public bool ServerDataMode { get; set; } = false;

    private MachineClientDataGrid? _clientDataGrid;
    private MachineServerDataGrid? _serverDataGrid;

    public async Task FetchData()
    {
        if (_clientDataGrid is not null)
        {
            await _clientDataGrid.FetchData();
        }
        else if(_serverDataGrid is not null)
        {
            await Task.Run(() => _serverDataGrid.DataGrid?.ReloadServerData());
        }
    }

    private void OnDataModeChange()
    {
        ServerDataMode = !ServerDataMode;
    }
}
