@using System.Text.Json
@using System.Text.Json.Serialization

@inject ILogger logger
@inject HttpClient apiClient

<MudForm Model="@model" @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
    <MudCardHeader Class="d-flex">
        <h2>New Machine</h2>
        <MudSpacer></MudSpacer>
        <MudTooltip Text="Close form" Delay="500" Duration="800">
            <MudIconButton Icon="@Icons.Material.Outlined.Close" OnClick="@CloseForm" />
        </MudTooltip>
    </MudCardHeader>
    <MudInputControl>
        <MudTextField @bind-Value="@model.Name" T="string" Label="Name" Required="true"
            RequiredError="A Machine name is required!" />
    </MudInputControl>
    <MudInputControl>
        <MudSlider @bind-Value="@model.Wattage" Variant="Variant.Filled" T="double" Min="10" Max="1000">
            Wattage (@model.Wattage) kWh
        </MudSlider>
    </MudInputControl>
    <MudInputControl>
        <MudNumericField @bind-Value="@model.Section" T="int" Label="Section" Min="1" Max="100" />
    </MudInputControl>
    <MudInputControl>
        <MudCheckBox @bind-Value="@model.Online" T="bool" Label="Online" />
    </MudInputControl>
    <MudInputControl>
        <MudButton Variant="Variant.Filled" Color="@Color.Primary" OnClick="@SubmitForm">Create Machine</MudButton>
    </MudInputControl>
</MudForm>

@if (requestFailure is not null)
{
    <MudText class="mt-3" Color="@Color.Error">@requestFailure.Message</MudText>
    @if (requestFailure.Errors is not null)
    {
        @foreach (var property in requestFailure.Errors)
        {
            <MudText Color="@Color.Error">Property: @property.Key</MudText>
            @foreach (var error in property.Value)
            {
                <MudText Color="@Color.Error">Error: @error</MudText>
            }
        }
    }
    else
    {
        <MudText Color="@Color.Error">@requestFailure.Message</MudText>
    }
}

@code {
    bool success;
    ErrorResponse? requestFailure;
    string[] errors = { };
    private MudForm form;
    private MachineModel model = new();

    [Parameter]
    public EventCallback FormClosed { get; set; }

    private async Task CloseForm()
    {
        await FormClosed.InvokeAsync();
    }

    public class ErrorResponse
    {
        [JsonPropertyName("statusCode")]
        public int? StatusCode { get; set; }

        [JsonPropertyName("message")]
        public string? Message { get; set; }

        [JsonPropertyName("errors")]
        public Dictionary<string, List<string>>? Errors { get; set; }
    }

    private async Task SubmitForm()
    {
        await form.Validate();

        if (success)
        {
            using var cts = new CancellationTokenSource();
            cts.CancelAfter(TimeSpan.FromMilliseconds(15000));

            var response = await apiClient.PostAsJsonAsync("http://localhost:5000/api/machines/add-machine", model, cts.Token);

            await SetRequestFailure(response);
        }
    }

    private async Task SetRequestFailure(HttpResponseMessage response)
    {
        if ((int)response.StatusCode == StatusCodes.Status400BadRequest)
        {
            requestFailure = JsonSerializer.Deserialize<ErrorResponse>(await response.Content.ReadAsStringAsync());
        }
        else if (response.IsSuccessStatusCode)
        {
            requestFailure = new()
                {
                    Message = null
                };
            await FormClosed.InvokeAsync();
        }
        else
        {
            logger.Information("could not determine status code");
            requestFailure = new()
                {
                    Message = "API not available; please try again later."
                };
        }
    }
}