@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => ToggleDrawer())" />
        <h2>
            Machine Park Manager
        </h2>

    </MudAppBar>
    <MudDrawer @bind-Open="@drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudPaper Elevation="25">
            <MudToolBar Class="fixed">
                <MudIconButton Icon="@Icons.Material.Outlined.Add" />
                <MudIconButton Icon="@Icons.Material.Outlined.Edit" />
                <MudIconButton Icon="@Icons.Material.Outlined.Remove" Color="Color.Inherit" />
            </MudToolBar>
        </MudPaper>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-5">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool drawerOpen = false;

    void ToggleDrawer()
    {
        drawerOpen = !drawerOpen;
    }
}